@charset "UTF-8";
 /*css Document */

/*hide elements from browser but show for doc outline*/
.hidden
{
  display: none;
}

/*HTML selectors*/

body
{
 font-family: 'Roboto', Helvetica, Arial, sans-serif;
 font-family: 'Open Sans', Helvetica, Arial, sans-serif;
 /*font-size: 12px;*/
 color: #3b3b3b;
 background: #1a2127;
 /*Gradient Color */
 background: #ececec; /* Old browsers */
 background: linear-gradient(to bottom, #ececec 0%, #fff 100%); 
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+*/ 
}

/*img
{
 border: none;
 margin: 0;
 padding: 0;
 line-height: 0;
}*/

/*a will style anchor links*/
a
{
text-decoration: none;
}

/*a:link is for not visited, a:visited is for visited, and just a applies to both.*/

a:link, a:visited {
text-decoration:none;
}

a:hover, a:active {
text-decoration:none;
 }

#container
{
  margin: 0 auto;
}

/* Introduction */
.teamBio
{
  position: relative;
}

/* Luisa's image */
#memberImg {
  display: block;
  /*position: absolute;*/
  flex: 1 1 auto;
  width: 100%;
  box-shadow: 0px 15px 14px -14px #777;
}

/* Who is*/
#bioHeader {
	position: absolute;
  margin-top: -45%;
  margin-left: 8%;
  flex: 1 1 auto;
}

  /*span*/
.question
{
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 45px;
  letter-spacing: 3px;
  font-weight: lighter;
  color: #fff;
  text-shadow: 2px 2px 4px #0a0a0a;
  /*flex: 1 1 auto;*/
}

.name
{
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
  line-height: 70px;
  font-size: 68px;
  font-weight: normal;
  color: #d8c5c0;
  display: block;
  width: 600px;
  text-shadow: 2px 2px 4px #0a0a0a;
}

.bio {
  position: absolute;
  width: 100%;
}
/* biography heading */
#bioH2
{
font-family: 'Roboto', Helvetica, Arial, sans-serif;
letter-spacing: 4px;
font-size: 40px;
font-weight: normal;
color: #444444;
margin-left: 8%;
margin-top: -10%;
/*z-index: 2;*/
position: absolute;
text-shadow: 2px 2px 4px #e2e2e2;
}

.articles
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}

.articles2
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}

.sPart {
  position: absolute;
  width: 100%;
  /*margin-top: -36%;*/
/*  display: none;*/  /*switch this to see texts*/
}

/* paragraph */
.description
{
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
color: #444444;
font-size: 15px;
line-height: 26px;
width: 300px;
padding: 10px;
margin-left: 5px;
margin-bottom: 25px;
}

/* Button */
.buttontoS
{
  position: absolute;
  margin-left: 75%;
  margin-top: 35%;
  height: 15%;
}

.buttontoL
{
  position: absolute;
  margin-left: 75%;
  margin-top: 38%;
  height: 15%;
}

.changebiotoS
{
  /*Gradient Color */
  background: #193327; /* Old browsers */
  background: linear-gradient(to bottom, #193327 0%,#17231d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  width: 100%;
  color: #efe7e4;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 14px;
  transition: all .6s linear;
  box-shadow: 0 10px 14px -14px #777;
}

.changebiotoL
{
  /*Gradient Color */
  background: #193327; /* Old browsers */
  background: linear-gradient(to bottom, #193327 0%,#17231d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  width: 90%;
  color: #efe7e4;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 14px;
  transition: all .6s linear;
  box-shadow: 0 10px 14px -14px #777;
}

/* Change to dark text */
.changebiotoS:hover, .changebiotoL:hover
{
  color: #444444;
  /* box-shadow: inset 0 0 0 25px #e2e2e2; */
}
